.part {
  height: 1050px;
  position: relative;
}

.line {
  /* 同一行 */
  display: flex;
  margin-bottom: 151px;
}

.line-first{
  margin-right: 120px;
}

.d-right {
  position: absolute;
  top: 10px;
  left: 833px;
  z-index: 0;
}

.d-left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 636px;
  left: 0px;
  z-index: 0;
}
