.menu{
  left: 0px;
  top: 0px;
  height: 122px;
  background: #FFFFFF;
}

.icon {
  margin: 54px auto auto 147px;
}

.top65{
  margin-top: 65px;
  display: inline-block;
}

.top59{
  margin-top: 59px;
  display: inline-block;
}
