.background {
  position: relative;
}

.line{
  display: flex;
}

.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}

.img {
  margin-left: 32px;
  filter: drop-shadow(0px 24px 32px rgba(51, 62, 99, 0.32));
}

.frame {
  height: 473px;
  display: flex;
}

.cards-holder ul {
  white-space: nowrap;
}

.d-cards-buttons {
  /* margin: 43px 0px auto auto; */
  z-index: 0;
}

.cards {
  /* children inline */
  display: inline-block;
  margin-right: 46px;
  vertical-align: top;
}