.background {
  margin-top: 160px;
  height: 398px;
  /* 居中 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.holder {
  /* 居中 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1004px;
}

.title {
  position: relative;
  top: 100px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  /* white */
  color: #ffffff;
}

.button {
  margin-top: 20px;
}
