.card{
  margin-right: 60px;
  max-width: 462px;
}

.title {
  position: relative;
  top: 36px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  /* black */

  color: #333e63;
}

.content {
  position: relative;
  top: 26px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  /* black */

  color: #333e63;
}
