.line {
  display: flex;
}

.menu {
  min-width: 650px;
  height: 122px;
  background: #ffffff;
  border: none;
  border: none !important;
}

.menu-item {
  margin-left: 50px;
  background-color: #ffffff !important;
  border: none !important;
}

.menu-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  /* black */

  color: #333e63;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-menu-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  /* black */

  color: #333e63;
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 42px;
}
