.title {
  position: relative;
  max-width: 950px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 66px;
  /* or 150% */

  /* black */

  color: #333e63;
}

.holder1 {
  margin-top: 80px;
  display: flex;
  z-index: 1;
}

.holder2 {
  margin-top: 85px;
  display: flex;
  z-index: 1;
}

.d-right {
  position: absolute;
  top: 263px;
  left: 980px;
  z-index: 0;
}

.d-left{
  position: absolute;
  top: 823px;
  left: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 0;
}
