.introduce1 {
  margin-left: 147px;
  margin-top: 127px;
}

.d-left {
  position: absolute;
  width: 460px;
  height: 440px;
  left: 980px;
  top: 170px;
  z-index: 0;
}

.img38 {
  position: absolute;
  width: 557px;
  height: 520px;
  left: 736px;
  top: 242px;
}
